@media (max-width: 1300px) {
  .card-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 960px) {
  html {
    font-size: 58%;
  }
  #menu {
    display: block;
  }
  header {
    left: -100%;
  }

  header.toggle {
    left: 0;
  }
  body {
    padding-left: 0;
  }
  .card-grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 760px) {
  html {
    font-size: 52%;
  }
  header {
    width: 50vw;
  }
  .card-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  html {
    font-size: 50%;
  }
  header {
    width: 100vw;
  }
  .card-grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  section {
    min-height: 90vh;
  }
  #contact {
    flex-direction: column;
    height: 100vh;
  }
  .contact-image img {
    width: 200px;
    height: 220px;
  }
  /* .contact-wrapper {
    height: 80vh;
  } */
}
